@import 'lib/normalize.scss';

/*----------------
Variables
----------------*/
// Colors
$c-gray: #222;
$c-orange: #F86718;
// Fonts
$f-sans: 'Raleway', Arial, Helvetica;
// Breakpoints
$bp-md: 500px;
$bp-lg: 700px;

/*----------------
Base
----------------*/

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background: $c-orange;
}

.page-wrap{
	max-width: 760px;
	width: 90%;
	margin: 0 auto;
}

svg{
	display: none;
}

/*----------------
Typography
----------------*/

body{
	font: 100%/1.7em $f-sans;
	text-align: center;
	color: #fff;
}

h1, h2, h3, h4, h5 h6{
	line-height: 1.5em;
	margin: 0; padding-bottom: 2em;

	@media (min-width: $bp-md) {
		padding-bottom: 1.5em;
	}
}

h1{
	font: {
		weight: 900;
	}
	text-transform: uppercase;
}

h2, h3, h4, h5, h6{
	font-weight: 400;
}

p{
	font-size: 14px;
	line-height: 1.7em;
	margin: 0;
	padding-bottom: 1em;

	@media (min-width: $bp-md) {
		font-size: 20px;
	}
}

a{
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px rgba(#fff, 0.35);
	transition: 0.3s ease all;

	&:hover{
		color: rgba(#fff, 0.35);
		border-bottom-color: #fff;	
	}
}

.button{
	display: block;
	line-height: 1em;
	font-size: 14px;
	background: $c-orange;
	border: none;
	border-radius: 5px;

	&:hover{
		color: #fff !important;
		background: darken($c-orange, 10%);
	}

	&.button-github{
		padding: {
			top: 15px; bottom: 18px;
		}
	}

	.icon-github{
		width: 24px; height: 24px;
		margin: {
			left: 10px;
			bottom: -8px;
		}
	}

	@media (min-width: $bp-md) {
		display: inline-block;
		font-size: 18px;
		padding: {
			left: 30px;
			right: 30px;
		}
	}

	@media (min-width: $bp-lg) {
		font-size: 24px;
		padding: 20px 40px;

		&.button-github{
			padding: {
				top: 20px;
				bottom: 20px;
			}
		}

		.icon-github{
			width: 33px; height: 32px;
			margin: {
				bottom: -8px;
			}
		}
	}
}

/*----------------
Header
----------------*/

.header{
	padding: 30px 0 40px;

	h1, h2{
		margin: 0;
		padding-bottom: 0;
	}

	h1{
		text-shadow:
			0 2px 6px rgba(black, 0.25),
			0 5px 20px rgba(black, 0.1);
	}

	h2{
		opacity: 0.65;
		font: {
			size: 14px;
			weight: 400;
		}
		margin-top: -12px;
	}

	@media (min-width: $bp-md) {
		padding-top: 40px;

		h2{
			font-size: 24px;
			margin-top: -22px;
		}
	}
}	

/*----------------
Main Content
----------------*/

.main{
	background: #fff;
	padding: 40px 20px;
	color: $c-gray;
	border-radius: 1px;
	box-shadow:
		0 2px 6px rgba(black, 0.25),
		0 5px 20px rgba(black, 0.1);

	h3{
		font-size: 20px;
	}

	a{
		color: $c-gray;
		border-bottom-color: $c-orange;

		&:hover{
			color: $c-orange;
			border-bottom-color: $c-gray;
		}
	}

	.button{
		color: #fff;
		margin-bottom: 3em;
	}

	@media (min-width: $bp-md) {
		padding: 60px 80px;

		h3{
			font-size: 32px
		}
	}
}

/*----------------
Footer
----------------*/

.footer{
	padding: 40px 20px;

	.logo-lig-a{
		display: block;
		width: 100px;
		margin: 30px auto;
		border-bottom: none;

		&:hover{
			opacity: 0.65;
			transform: scale(1.1);
		}
	}

	.logo-lig{
		width: 100%;
	}

	@media (min-width: $bp-md) {
		padding: 60px 40px;

		p{
			font-size: 20px;
		}

		.logo-lig-a{
			width: 150px;
		}
	}
}

/*----------------
Annabell
----------------*/

.bell-of-the-ball{
	display: block;
	padding: 10px;
	opacity: 0;
	transition: 0.5s ease all;
	text-transform: uppercase;

	&:hover{
		opacity: 0.25
	}
}